/******** FOOTER ********/
.footer {}

/* Container for all icons in footer */
.footer-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 48px;
}

.footer-icon {
    width: 36px;
    height: 36px;

    transition: .5s;
}

.footer-icon:hover {
    transform: scale(1.5);
}

.footer-link {
    text-decoration: none;
    color: inherit;
}